<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blood Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body background="static\index_blooddd.jpg" style="background-size: 100%">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #979797;opacity:60%;">
      <center>
        <a class="navbar-brand" href="{{url_for('index')}}"><center>Home</center></a>
        <a class="navbar-brand" href="{{url_for('form')}}"><center>Form</center></a>
        <a class="navbar-brand" href="{{url_for('delete')}}"><center>Delete</center></a>
        <a class="navbar-brand" href="{{url_for('select')}}"><center>Select</center></a>
        <a class="navbar-brand" href="{{url_for('info')}}"><center>Details</center></a>
      </center>
        </button>
    </nav><br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <div class="alert alert-primary" role="alert" style="width:97.4%;">{{message}}</div>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </body>
</html>
