{% extends 'base.html' %}
{% block content %}

<center>
  <form method="post">
  <p class="font-weight-lighter" style="color:white;font-size:50px;">Enter the Name you want to Delete</p>
  <br><br>
  <div class="form-group">
    <p class="font-weight-lighter" style="color:white;font-size:25px;">Name</p>
    <input style="width:50%; height:50px;" type="text" class="form-control" name="wow" placeholder="Name">
</div>
<button type="submit" class="btn btn-light">Submit</button>
</form><br><br><br>
<a class="navbar-bran" href="/info">See Stored Blood Groups</a>
</center>
{% endblock %}
