{% extends 'base.html' %}
{% block content %}

<center>
  <form method="post">
  <p class="font-weight-lighter" style="color:white;font-size:50px;">What blood group do you need</p>
  <br><br>
  <div class="form-group">
    <p class="font-weight-lighter" style="color:white;font-size:25px;">Blood Group</p>
    <input style="width:50%; height:50px;" type="text" class="form-control" name="hii" placeholder="Eg: O+, AB+, etc">
  </div>
<button  type="submit" class="btn btn-light">Submit</button>
</form><br><br><br>
<a class="navbar-bran" href="/info">See Stored Blood Groups</a>
</center>
{% endblock %}
